# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
*.exe
*.out
*.obj
*.o
*.log

# Data & models
data/
*.csv
*.h5
*.pt
*.pth

# Reports
report/Report.pdf

# Any local credentials
*.json
*.key
